version: '3.7'
services:
  proxy:
    image: repo-clicksports.clicksports.de/laravel/nginx-dev:latest
    tty: true
    stdin_open: true
    ports:
      - "${APP_PORT}:80"
      - "${APP_PORT_SSL}:443"
    volumes_from:
      - app:ro
    networks:
      - sdnet
    depends_on:
      - app
  app:
    image: ghcr.io/rene-mueller/php-fpm-dev:8.1
    networks:
      - sdnet
    volumes:
      - ./html:/var/www/html:delegated
    depends_on:
      - mysql
    environment:
      APP_KEY: "${APP_KEY}"
      APP_NAME: "${APP_NAME}"
      APP_DEBUG: "${APP_DEBUG}"
      APP_URL: "${APP_URL}"
      APP_LOCALE: "${APP_LOCALE}"
      APP_TIMEZONE: "${APP_TIMEZONE}"

      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_DATABASE: "${DB_DATABASE}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"

      MAIL_MAILER: "${MAIL_MAILER}"
      MAIL_HOST: "${MAIL_HOST}"
      MAIL_PORT: "${MAIL_PORT}"
      MAIL_USERNAME: "${MAIL_USERNAME}"
      MAIL_PASSWORD: "${MAIL_PASSWORD}"
      MAIL_FROM_NAME: "${MAIL_FROM_NAME}"
      MAIL_FROM_ADDRESS: "${MAIL_FROM_ADDRESS}"
  mysql:
    image: mysql/mysql-server:8.0
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - sdnet
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
networks:
  sdnet:
    driver: "bridge"

volumes:
  mysql:
