version: '3.7'
services:
  proxy:
    ports:
      - "${APP_PORT}:80"
    volumes:
      - app-sync:/var/www/html:nocopy
  app:
    build:
      target: cs-php-fpm-dev
    volumes:
      - app-sync:/var/www/html:nocopy
      - ~/.composer:/root/.composer
    environment:
      APP_KEY: "${APP_KEY}"
  node:
    build:
      target: cs-node-dev
    volumes:
      - app-sync:/var/www/html:nocopy
  mysql:
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./database/mysql:/var/lib/mysql

# that the important thing
volumes:
  app-sync:
    external:
      name: "${DOCKER_BASENAME}_app-sync"